{% extends "base.html" %}
{% block title %} Afficher destinataires {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Les destinataires.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            destinataires
                        </th>

                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_destinataire }}
						</td>
						<td class="align-middle">
							{{ row.destinataire }}
						</td>

						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('destinataire_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('destinataires_update_wtf', id_destinataire_btn_edit_html=row.id_destinataire) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('destinataire_delete', id_destinataire_btn_delete_html =row.id_destinataire) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun utilisateur.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('destinataire_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

