{% extends "base.html" %}
{% block title %} Ajouter un GENRE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouveau GENRE (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.numero_facture_wtf.label }}<br>
						{{ form.numero_facture_wtf(size=32) }}<br>
						{% for error in form.numero_facture_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.somme_wtf.label }}<br>
						{{ form.somme_wtf(size=32) }}<br>
						{% for error in form.somme_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.delai_wtf.label }}<br>
						{{ form.delai_wtf(size=32) }}<br>
						{% for error in form.delai_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
						<p>
						{{ form.payement_wtf.label }}<br>
						{{ form.payement_wtf(size=32) }}<br>
						{% for error in form.payement_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<select id="destinataire" name="destinataire" style="height:30px;" required>
                        {% for row in destinataire%}
                        <option name="" value="{{row.id_destinataire}}">{{row.destinataire}}</option>
                        {% endfor %}
                    </select>
					<br/>
					<br/>

					<select id="motif" name="motif" style="height:30px;" required>
                        {% for row in motif%}
                        <option name="" value="{{row.id_motif}}">{{row.motif}}</option>
                        {% endfor %}
                    </select>


				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

