{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Les factures.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Numéro de facture
                        </th>
                        <th class="align-middle">
							Montant à payer
                        </th>
                        <th class="align-middle">
							Reception Facture

                        </th>
						<th class="align-middle">
							Destinataire
                        </th>
						<th class="align-middle">
							Motif
                        </th>
						<th class="align-middle">
							délai
                        </th>
						<th class="align-middle">
							Payé le
                        </th>

                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_facture }}
						</td>
						<td class="align-middle">
							{{ row.numero_facture }}
						</td>
						<td class="align-middle">
							{{ row.somme }}
						</td>
						<td class="align-middle">
							{{ row.reception }}
						</td>
						<td class="align-middle">

							{{ row.destinataire }}
						</td>
						<td class="align-middle">
							{{ row.motif }}
						</td>
						<td class="align-middle">
							{{ row.delai }}
						</td>
						<td class="align-middle">
							{{ row.payement }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('factures_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('facture_update_wtf', id_facture_btn_edit_html=row.id_facture) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('facture_delete_wtf', id_facture_btn_delete_html =row.id_facture) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun utilisateur.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('factures_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

